# ── Database (Neon) ──
DATABASE_URL=postgresql://user:password@ep-xxx.us-east-1.aws.neon.tech/neondb?sslmode=require

# ── Redis ──
REDIS_URL=redis://redis:6379

# ── JWT ──
JWT_SECRET=CHANGEZ-MOI-en-production-64-caracteres-minimum
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=CHANGEZ-MOI-aussi-en-production-64-caracteres-minimum
JWT_REFRESH_EXPIRES_IN=7d

# ── App ──
NODE_ENV=production
PORT=3000

# CORS : mettre l'URL du frontend (ou * pour tester)
CORS_ORIGINS=http://100.96.54.17
