# ── LIBITEX Production ──
# SSL automatique via Let's Encrypt

# API Backend
libitex-api.lunion-lab.com {
	reverse_proxy api:3000
}

# Frontend App Commercant
libitex-pro.lunion-lab.com {
	reverse_proxy web:3001
}
